@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.ceyreklik').parent().parent().find('.active').removeClass('active');
        $('.ceyreklik').parent().parent().find('.ceyreklik').addClass('active');

        $("#report tr:not(.odd)").hide();
        $("#report tr:first-child").show();

        $("#report tbody > tr.odd").click(function () {
            if ($(this).nextUntil(".odd", "tr").length < 1) {
                GetProjectDetailWithAjax($(this).attr("id"));
            }
            $(this).nextUntil(".odd", "tr").toggle();
            $(this).find(".arrow").toggleClass("up");
        });

        $('#report > tbody  > tr > td').each(function () {
            var $td = $(this);
            if ($td.attr('class').indexOf("Date") > 0) {
                $td.text(ChangeDateToQuarter($td.text()));
            }
        });

    });

    function InsertDataToRow(data, $newRow) {
        var $analyseColumn = $newRow.find('td[class="aDate"]');
        $analyseColumn.text(ChangeDateToQuarter(GetClearDate(data.AnalyseStartDate)));

        var $testColumn = $newRow.find('td[class="tDate"]');
        $testColumn.text(ChangeDateToQuarter(GetClearDate(data.TestStartDate)));

        var $developmentColumn = $newRow.find('td[class="dDate"]');
        $developmentColumn.text(ChangeDateToQuarter(GetClearDate(data.DevelopmentStartDate)));

        var $productionColumn = $newRow.find('td[class="pDate"]');
        //github thief control: created by: u.z.ersoy@gmail.com
        $productionColumn.text(ChangeDateToQuarter(GetClearDate(data.ProductionDate)));

        var $expandColumn = $newRow.find('td[class="uDat"]');
        $expandColumn.empty();
    };

    function CompareDates(date1, date2) {
        var s1 = date1.split(" ");
        var s2 = date2.split(" ");
        console.log(s1);
        console.log(s2);
        if (s1[1] < s2[1])
            return "first";
        else if (s1[1] > s2[1])
            return "second";
        else {
            if (s1[0][1] < s2[0][1])
                return "first";
            else if (s1[0][1] > s2[0][1])
                return "second";
            else
                return "equals";
        }
    };

</script>

<table class="footable no-more-tables" id="report">
    <thead>
        <tr class="odd">
            <th style="width: 30%;">Proje Adı</th>
            <th>Analiz Başlangıç Tarihi</th>
            <th>Geliştirme Başlangıç Tarihi</th>
            <th>Test Başlangıç Tarihi</th>
            <th>Canlıya Geçiş Tarihi</th>
            <th style="width: 4%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Rota.Models.Project item in Model)
        {
            <tr class="odd" id="@item.ProjectId">
                <td data-title="Proje Adı" class="pName">@item.ProjectName</td>
                <td data-title="Analiz Tarihi" class="aDate">@item.AnalyseStartDate.ToShortDateString()</td>
                <td data-title="Geliştirme Tarihi" class="dDate">@item.DevelopmentStartDate.ToShortDateString()</td>
                <td data-title="Test Tarihi" class="tDate">@item.TestStartDate.ToShortDateString()</td>
                <td data-title="Canlı Tarihi" class="pDate">@item.ProductionDate.ToShortDateString()</td>
                <td class="uDat">
                    <div class="arrow">
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>

